/build/
/build-*/
/Testing/
/CMakeFiles/
/CMakeCache.txt
/.qmlcache/
/*.log
/command.log
/studio_data/
/.dft_agent_studio/
/AppDir/
/squashfs-root/
/dist/
/linuxdeploy*.AppImage
/*.AppImage
*.o
*.user
__pycache__/
*.py[cod]
*.swp
